<div class="w-full">
    <div class="grid items-center justify-center">
        <div class="grid items-center justify-center grid-cols-3">
            <button hx-get="/schedules/calendar?date={{.PreviousMonth}}" hx-target="#calendar"
                class="bg-gray-900 text-white px-4 py-2 rounded-md shadow-sm hover:bg-gray-700">Prev</button>
            <p class="text-center text-gray-950 pb-6">{{.CurrentMonth}}</p>
            <button hx-get="/schedules/calendar?date={{.NextMonth}}" hx-target="#calendar"
                class="bg-gray-900 text-white px-4 py-2 rounded-md shadow-sm hover:bg-gray-700">Next</button>
        </div>
        <div class="grid gap-2 w-full h-full grid-cols-7 items-center">
            <p class="text-center text-gray-950 pb-6">Su</p>
            <p class="text-center text-gray-950 pb-6">Mo</p>
            <p class="text-center text-gray-950 pb-6">Tu</p>
            <p class="text-center text-gray-950 pb-6">We</p>
            <p class="text-center text-gray-950 pb-6">Th</p>
            <p class="text-center text-gray-950 pb-6">Fr</p>
            <p class="text-center text-gray-950 pb-6">Sa</p>
        </div>
        <div class="grid w-full h-full gap-2 grid-cols-7 items-center p-2 bg-gray-50 rounded-md">
            {{range .Days}}
            {{if .IsValid}}
            <div
                class="text-center py-2 px-2 w-10 h-10 hover:bg-gray-300 hover:text-white text-gray-800 cursor-pointer rounded-full shadow-sm">
                <p>{{.Time.Day}}</p>
            </div>
            {{else}}
            <div></div>
            {{end}}
            {{end}}
        </div>
    </div>
</div>