<head>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link href="/static/css/styles.css" rel="stylesheet" />
    <script src="/static/js/htmx.min.js"></script>
</head>
<h2 class="text-center">Schedules</h2>
<ul class="text-center">
    {{ range . }}
    <li hx-get="/schedules/{{.ID}}/calendar" hx-target="#calendar" hx-trigger="click"
        class="cursor-pointer hover:text-gray-50">
        {{.Name}}
    </li>
    {{end}}
</ul>
<div id="container" class="flex flex-row justify-center text-center">
    <div id="calendar" class="w-2/4">
        <p>Load a calendar</p>
    </div>
    <div id="timeslots" class="w-2/4">
        <p>Select day on Calendar to load a timeslot</p>
    </div>
</div>

<!-- <div class="row">
    <div class="col col-lg-6">
        <div id="calendar" class="card">
            <div class="container"></div>
        </div>
        <div id="timeslots" class="card">
            <div class="container"></div>
        </div>
    </div>
</div> -->