<head>
    <script src="/static/js/htmx.min.js"></script>
    <link href="/static/css/tw-styles.css" rel="stylesheet" />

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"> -->
</head>

<body class="bg-slate-100">
    <!-- <div id="navbar-container" hx-get="/layout/navbar" hx-trigger="load" hx-target="#navbar-container"></div> -->
    {{ template "navbar" . }}
    <div id="content-container" class="flex flex-col items-center h-full">
        {{ yield }}
    </div>
</body>