<div class="flex flex-col mt-4 w-10/12 min-w-96 max-w-5xl bg-white rounded-md">
    <h1>Schedule {{.Schedule.ID}} {{.Schedule.Name}}</h1>
    <p>{{.Date}}</p>
    <div>
        <button hx-get="/schedules/{{.Schedule.ID}}?date={{.PreviousMonth}}" hx-target="#content-container">
            Prev
        </button>
        <button hx-get="/schedules/{{.Schedule.ID}}?date={{.NextMonth}}" hx-target="#content-container">
            Next
        </button>
    </div>
    <table>
        <tr>
            <th>Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
        </tr>
        <tr>
            {{range $i, $day := .Days}}
            {{if eq $day.Time.Weekday 0 }} <!-- 0 == Sunday -->
        </tr>
        <tr>
            {{end}}
            {{if not $day.IsThisMonth}}
            <td></td>
            {{else if $day.HasAvailableAppointment}}
            <td>
                {{if eq $.Date.Day $day.Time.Day}}
                <button disabled>
                    <b>{{$day.Time.Day}}</b>
                </button>
                {{else}}
                <button hx-get="/schedules/{{$.Schedule.ID}}?date={{$day.Time}}" hx-target="#content-container"
                    hx-push-url="true">
                    {{$day.Time.Day}}</button>
                {{end}}
            </td>
            {{else}}
            <td>
                {{$day.Time.Day}}
            </td>
            {{end}}
            {{end}}
        </tr>
    </table>
    <ul>
        {{range .Schedule.TimeSlots}}
        {{if eq $.Date.Day .Start.Day}}
        <li>{{.Start.Format "15:04 MST"}} - {{.End.Format "15:04 MST"}}
            <button {{if not .IsAvailable}} disabled {{end}}
                hx-get="/schedules/{{$.Schedule.ID}}/timeslots/{{.ID}}/book" hx-target="#content-container">
                book </button>
        </li>
        {{end}}
        {{end}}
    </ul>
</div>